.topDiv {
    height: 700px;
    width: 100%;
    background: url("../images/login_bg_1.jpg") no-repeat;
    background-size: cover;
}

.topDiv .phoneDiv {
    padding-top: 45px;
    margin: 0 auto;
    width: 322px;
    height: 630px;
}

.topDiv .phoneDiv .phoneHeader {
    width: 100%;
    height: 42px;
    background: url("../images/phone_header.png") no-repeat;
}

.topDiv .phoneDiv .phoneStatus {
    width: 100%;
    height: 21px;
    line-height: 21px;
    text-align: center;
    background-color: #000000;
    color: #fff;
    font-size: 12px;
}

.topDiv .phoneDiv .phoneBody {
    width: 100%;
    height: 519px;
    border-bottom: 1px solid #ccc;
    background-color: #ffffff;
    overflow-x: hidden;
    overflow-y: auto;
}

.topDiv .phoneDiv .phoneBody .phoneBodyContainer {
    padding: 0 5px;
}

.topDiv .phoneDiv .phoneBody .phoneBodyTitle {
    width: 100%;
    line-height: 2rem;
    font-size: 1.2rem;
}

.topDiv .phoneDiv .phoneBody .phoneBodyLine {
    width: 100%;
    line-height: 2rem;
    font-size: 0.8rem;
}

.topDiv .phoneDiv .phoneBody .phoneBodyOp {
    height: 2rem;
    border-radius: 5px;
    background-color: #e60000;
    box-sizing: content-box;
    margin: 0.5rem 0;
}

.topDiv .phoneDiv .phoneBody .phoneBodyOp a {
    width: 50%;
    height: 2rem;
    box-sizing: border-box;
    text-align: center;
    display: block;
    float: left;
    color: #ffffff;
    cursor: pointer;
}

.topDiv .phoneDiv .phoneBody .phoneBodyOp a:hover {
    text-decoration: none;
}

.topDiv .phoneDiv .phoneBody .noShow {
    display: none;
}

.topDiv .phoneDiv .phoneBody .voteList {
    width: 100%;
    height: auto;
}

.topDiv .phoneDiv .phoneBody .voteList .voteListLeft {
    width: 48%;
    float: left;
}

.topDiv .phoneDiv .phoneBody .voteList .voteListRight {
    width: 48%;
    float: right;
}

.topDiv .phoneDiv .phoneBody .voteList .voteOne {
    width: 100%;
    background-color: #ececec;
    margin-bottom: 1rem;
}

.topDiv .phoneDiv .phoneBody .voteList .voteOne .voteOneImg {
    width: 100%;
}

.topDiv .phoneDiv .phoneBody .voteList .voteOne .voteOneImg img {
    width: 100%;
}

.topDiv .phoneDiv .phoneBody .voteList .voteOne .voteOneTxt {
    width: 90%;
    height: 2rem;
    line-height: 2rem;
    font-size: 0.8rem;
    margin: 0 auto;
}

.topDiv .phoneDiv .phoneBody .voteList .voteOne .voteOneTxt a {
    display: block;
    color: #5bc0de;
    cursor: pointer;
}

.topDiv .phoneDiv .phoneBody .voteList .voteOne .voteOneOp {
    width: 100%;
    padding: 0.5rem 0 1rem;
}

.topDiv .phoneDiv .phoneBody .voteList .voteOne .voteOneOp .voteOneOpDiv {
    text-align: center;
}

.topDiv .phoneDiv .phoneBody .voteList .voteOne .voteOneOp .voteOneNums {
    text-align: center;
    font-size: 0.8rem;
    margin-top: 0.5rem;
}

.topDiv .phoneDiv .phoneBody .voteTitle {
    color: #5bc0de;
    font-weight: normal;
    padding: 0;
    font-size: 1.5rem;
    margin-top: 0.5rem;
    letter-spacing: 0.2rem;
}

.topDiv .phoneDiv .phoneBody hr {
    margin: 0;
}

.topDiv .phoneDiv .phoneBody .backDiv {
    width: 100%;
    height: 2rem;
    line-height: 2rem;
    background: #e60000;
}

.topDiv .phoneDiv .phoneBody .backDiv a {
    color: #ffffff;
}

.topDiv .phoneDiv .phoneBody .backDiv a:hover {
    text-decoration: none;
}

.topDiv .phoneDiv .phoneBody .oneImg {
    width: 100%;
}

.topDiv .phoneDiv .phoneBody .oneImg img {
    width: 100%;
}

.topDiv .phoneDiv .phoneBody .votesNum {
    color: #e60000;
}

.topDiv .phoneDiv .phoneFooter {
    width: 100%;
    height: 47px;
    background: url("../images/phone_footer.png") no-repeat;
}